/*   */
.map-right-area iframe {
    height: 545px;
    width: 100%;
    margin: 0 auto;
    float: none;
    display: block;
}

.concat-right-area-new {
    height: 545px;
    border: 5px solid #e91109;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 85px;
    padding-right: 60px;
}

.concat-right-area-new h2 {
    font-size: 40px;
    color: rgb(6, 15, 37);
    line-height: 1.2;
    font-size: 34px;
    margin-bottom: 60px;
}
.concat-right-area-new input, .concat-right-area-new textarea {
    border: 0;
	border-bottom: 1px solid #060E25;
	color: #060E25;
	margin-bottom: 40px;
	padding-bottom: 10px;
	font-size: 13px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}



.concat-right-area-new textarea {
    height: 135px;
    margin-bottom: 30px;
}

.concat-right-area-new button.submit-button {
    border-width: 1px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border-color: #e21838;
    border-style: solid;
    width: 158px;
    height: 38px;
    background: transparent;
    color: #e21838;
    cursor: pointer;
}
section.concat-page-area-main.overflow-fix {
    margin-top: 25px;
}
/*  */
.bold {
    font-weight: bold;
}

/* Menu */
.responsive-menu-area {
	display:none;
}
.sidenav {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}
.sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    background-image: -webkit-linear-gradient(5deg, #80000047 0%, crimson 100%);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
	z-index:1;
}

.responsive-bar {
	float: right;
	background-image: -webkit-linear-gradient(0deg, crimson  0%, #ff0030 100%);
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	cursor: pointer;
	color: #fff;
	cursor: pointer;
}

.responsive-menu-area {
	height:auto;
}
.slinky-theme-default .next::after, .slinky-theme-default .back::before {
    background: #fff;
    content: '';
    height: .5em;
    opacity: .75;
    -webkit-transition: 200ms;
    transition: 200ms;
    width: .5em;
    color: #fff;
    transform: rotate(0deg);
}
.slinky-theme-default .next::after {
    background: url(../images/lefr-arow.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}
.slinky-theme-default .back::before {
    background: url(../images/arrows.png);
    background-size: cover;
    padding: 11px;

}
#responsive-menu ul {
    text-align: left;
    padding: 25px;
}
#responsive-menu ul li {
    list-style: outside none;
    padding: 14px 15px;
    background: crimson;
    border-bottom: 1px solid #ffffff38;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
#responsive-menu ul li:hover {
	 background-image: -webkit-linear-gradient(5deg, #80000047 0%, crimson 100%);
}
#responsive-menu ul li a {
    color: #fff;
    margin: 0;
    padding: 0;
}
#responsive-menu ul li ul {
/*     padding: 0;
	-webkit-transition: max-height 1s;
	-moz-transition: max-height 1s;
	-ms-transition: max-height 1s;
	-o-transition: max-height 1s;
	transition: max-height 1s;
	background: #e5feff;
	overflow: hidden;
	max-height: 0; */
}
#responsive-menu ul li:hover ul {
  /*   margin-top: 15px;
	max-height: 700px; */
	
}
#responsive-menu ul li ul li {
}
#responsive-menu ul li ul li:hover a {	
}


/* 20th */
.our-meet-single-item-right.overflow-fix {
    max-width: 400px;
}
.f-right .our-meet-single-item-right  {
    float: right;
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 320px) and (max-width: 1199px) {
    .main-menu-area a {
        font-size: 13px;
    }
    .corporate-conetnt-area .corporate-conetnt-right-area {
        height: 450px;
    }
    .corporate-conetnt-right-img img {
        width: 90%;
    }
    .corporate-conetnt-area .corporate-conetnt-left-area h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }    
    .about-us-main-heading {
        margin-bottom: 50px;
    }
    .about-us-miboard-title {
        font-size: 36px;
    }
    .about-us-mission .about-us-mission-single {
        padding: 30px;
        margin-bottom: 20px;
    }
    .report-area .row .nav-tabs li a {
        font-size: 14px;
    }
    
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 320px) and (max-width: 991px) {
.report-area .row .nav-tabs li a {
    padding: 10px;
    font-size: 14px;
    color: #060f25;
    line-height: 1.444;
    width: 100%;
    float: left;
}
.main-menu-area {
	display:none;
}
.responsive-menu-area {
    display: block;
  
	padding: 12px 10px;
    z-index: 2;
}
.corporate-conetnt-area .corporate-conetnt-right-area {
    height: 350px;
}
.subpage-footer-area .subpage-footer {
    padding: 20px 0;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.subpage-footer-area .subpage-footer-copy {
    padding: 20px 0;
    text-align: center;
}
.our-business-single-item-right img {
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}
.single-item-report-right.overflow-fix.d-flex.justify-content-end {
    margin-left: 15px;
}
.our-business-single-item-right.overflow-fix {
    margin-top: 20px;
}
.our-meet-single-item-right img {
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.our-meet-single-item-area {
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.our-meet-single-item-right img {
    margin-top: 25px;
}
.our-meet-item-area .our-meet-single-item-area .our-meet-single-item-left p {
    margin-top: 15px;
    margin-bottom: 15px;
}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    
.f-right .our-meet-single-item-right  {
    float: right;
}
.our-meet-single-item-right.overflow-fix {
    margin: 0 auto;
    float: none;
    max-width: 320px;
}

.our-meet-single-item-left.overflow-fix {
    text-align: center;
}

.our-meet-single-item-left.overflow-fix h2 {
    font-size: 32px !important;
}

.our-meet-item-area .our-meet-single-item-area .our-meet-single-item-left h3 {
    font-size: 16px;
}
    
    
    
    
    
    
    
    
    .corporate-conetnt-area .corporate-conetnt-left-area h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .corporate-conetnt-area .corporate-conetnt-right-area {
        height: auto;
        padding-bottom: 25px;
    }
    .tab-hide-d {
     display: block;
    margin-bottom: 20px;
    }
    .tab-hide-m {
        display: none;
    }
    .single-item-report-right.overflow-fix.d-flex.justify-content-end {
        margin-left: 0px;
    }
    .single-item-report-left.overflow-fix {
        margin-bottom: 10px;
    }
    .job-list-on-carea .job-list-on-carea-ttile p {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
    }
    .concat-right-area-new {
        margin-bottom: 25px;
    }
    

}
@media only screen and (min-width: 320px) and (max-width: 575px) {
    .about-us-miboard-title {
        font-size: 30px;
        text-align: center;
    }
    .corporate-conetnt-area .corporate-conetnt-left-area h2 {
        text-align: center;
    }
    .about-us-mission .about-us-mission-single h2 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .about-us-mission .about-us-mission-single {
        padding: 20px;
    }
    .subpage-footer-area {
        margin-top: 50px;
    }20
    .page-header-area .page-header-content h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .awards-header .page-header-content h3 {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .our-business-item-area .our-business-single-item-area {
        margin-top: 50px;
    }
    .our-meet-item-area .our-meet-single-item-area .our-meet-single-item-left h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .our-concern-area .our-editor-content h2 {
        font-size: 26px;
        color: #eb160a;
        margin-bottom: 30px;
    }
    .concat-right-area-new {
        padding: 20px;
        margin-bottom: 25px;
    }
    
    .concat-right-area-new h2 {
        font-size: 27px;
        margin-bottom: 40px;
    }
    .map-right-area iframe {
        height: 345px;
    }
}